# GroupBy and Aggregating

In [2]:
import pandas as pd
df = pd.read_excel('/Users/enricokoegler/Library/Mobile Documents/com~apple~CloudDocs/Privat/Android Apps/WBPA Material /Datenbank.xlsx', sheet_name='Karten')
df = df.iloc[:, 0:13]
df = df.drop(['Average', 'Difference', 'SetId'], axis=1)
df

          Name  ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB          Set
0         Marc   99   99   99   99   99   99      100     5         Icon
1         Maxi   95   94   98   89   95   95       97    10        Award
2        Kevin   96   94   97   94   91   98       97     8         Icon
3        Kevin   93   92   93   96   89   97       96    10        Award
4         Maxi   94   92   97   90   92   93       96    10  WorldChamps
..         ...  ...  ...  ...  ...  ...  ...      ...   ...          ...
145      Frank   71   66   87   74   89   70       75   750         Base
146       Dani   76   75   78   81   71   70       75   400       Soccer
147  TheWizard   71   71   80   81   68   70       73   400       Soccer
148       Niki   74   73   80   71   62   76       72   400       Soccer
149       Alex   67   68   69   71   72   73       70   400       Soccer

[150 rows x 10 columns]

In [3]:
df[df['Set']=='Award']

      Name  ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB    Set
1     Maxi   95   94   98   89   95   95       97    10  Award
3    Kevin   93   92   93   96   89   97       96    10  Award
7     Sven   96   93   90   89   92   92       94    25  Award
12   Simon   90   96   89   91   88   92       93    30  Award
43   Sassi   90   88   86   84   86   87       88   125  Award
70  Steffi   81   83   86   79   91   84       85   200  Award

In [22]:
gr = df.groupby('Set')
headers = df.columns[1:9]
for h in headers:
    x = gr.mean(numeric_only=True).round(1).sort_values(by=h, ascending=False)[[h]]
    print(x)
    #gr[h] = range(1, len(gr) + 1)

               ACC
Set
Icon          91.5
Award         90.8
WorldChamps   90.1
Beer          86.2
TagTeam       84.4
OTW           82.9
Comic         82.7
Shapeshifter  82.5
BackInTime    82.2
Valentine     82.0
Soccer        81.9
Scream        81.5
Base          81.0
               TCQ
Set
Award         91.0
Icon          90.8
WorldChamps   90.6
Beer          88.0
OTW           85.1
Shapeshifter  84.3
Comic         83.7
TagTeam       83.2
BackInTime    83.0
Scream        82.7
Soccer        82.3
Valentine     81.9
Base          81.6
               MNT
Set
Icon          90.4
Award         90.3
WorldChamps   89.5
Beer          87.3
Scream        86.7
TagTeam       86.5
BackInTime    85.6
OTW           85.6
Comic         85.5
Soccer        83.2
Valentine     83.1
Base          82.8
Shapeshifter  82.2
               SPC
Set
Icon          92.4
WorldChamps   90.2
Award         88.0
Beer          85.6
TagTeam       85.1
OTW           84.6
Comic         83.6
Shapeshifter  83.3
Valentine     82.5
BackInTime    81.9
Soccer        81.8
Base          81.4
Scream        81.2
               DEF
Set
Award         90.2
WorldChamps   88.4
Icon          87.1
TagTeam       85.9
Valentine     84.1
Shapeshifter  83.8
OTW           83.4
BackInTime    83.2
Comic         83.1
Scream        83.0
Beer          81.8
Soccer        80.7
Base          80.1
               FIN
Set
Award         91.2
WorldChamps   90.5
Icon          90.0
Beer          85.6
TagTeam       84.5
Comic         83.2
Scream        83.2
OTW           82.5
Soccer        82.0
Valentine     81.9
Shapeshifter  81.5
BackInTime    80.6
Base          80.3
              OVERALL
Set
Award            92.2
Icon             92.1
WorldChamps      91.9
Beer             86.9
TagTeam          86.1
OTW              84.9
Comic            84.4
Scream           84.2
Shapeshifter     84.0
BackInTime       83.5
Valentine        83.2
Soccer           82.5
Base             81.9
               PROB
Set
Base          439.9
Valentine     281.2
BackInTime    273.8
Shapeshifter  266.7
Soccer        261.4
Scream        258.3
Comic         247.5
OTW           241.2
TagTeam       206.9
Beer          185.6
Icon           75.4
WorldChamps    68.1
Award          66.7

In [23]:
gr = df.groupby('Set')
gr.count()[['Name']].sort_values('Name', ascending=False).rename(columns={'Name': 'Anzahl'})

              Anzahl
Set
Base              36
Soccer            21
Comic             18
Beer               9
BackInTime         8
Icon               8
OTW                8
TagTeam            8
Valentine          8
WorldChamps        8
Award              6
Scream             6
Shapeshifter       6

In [60]:
gr = df.drop('Name', axis=1).groupby('Set')
gr.median().sort_values(by='FIN', ascending=False).round(0)

               ACC   TCQ   MNT   SPC   DEF   FIN  OVERALL   PROB
Set
Award         92.0  92.0  90.0  89.0  90.0  92.0     94.0   28.0
WorldChamps   88.0  90.0  88.0  90.0  88.0  91.0     92.0   60.0
Icon          90.0  90.0  88.0  92.0  89.0  90.0     91.0   70.0
Beer          85.0  86.0  88.0  85.0  83.0  88.0     89.0  115.0
Comic         82.0  83.0  85.0  84.0  82.0  84.0     84.0  288.0
TagTeam       85.0  82.0  88.0  86.0  86.0  84.0     86.0  205.0
Soccer        81.0  85.0  84.0  82.0  80.0  83.0     85.0  225.0
Valentine     81.0  82.0  82.0  83.0  84.0  82.0     84.0  262.0
OTW           84.0  86.0  86.0  84.0  84.0  82.0     86.0  212.0
Scream        81.0  82.0  88.0  82.0  83.0  82.0     84.0  288.0
Shapeshifter  84.0  85.0  84.0  82.0  84.0  82.0     84.0  275.0
BackInTime    82.0  84.0  84.0  82.0  84.0  81.0     83.0  288.0
Base          81.0  82.0  83.0  81.0  81.0  80.0     81.0  450.0

In [47]:
df.drop('Name', axis=1).groupby('Set').agg({'FIN':['mean', 'max','median'], 'DEF':['mean', 'median']}).round()

               FIN              DEF
              mean max median  mean median
Set
Award         91.0  97   92.0  90.0   90.0
BackInTime    81.0  88   81.0  83.0   84.0
Base          80.0  94   80.0  80.0   81.0
Beer          86.0  93   88.0  82.0   83.0
Comic         83.0  94   84.0  83.0   82.0
Icon          90.0  99   90.0  87.0   89.0
OTW           82.0  92   82.0  83.0   84.0
Scream        83.0  93   82.0  83.0   83.0
Shapeshifter  82.0  84   82.0  84.0   84.0
Soccer        82.0  92   83.0  81.0   80.0
TagTeam       84.0  95   84.0  86.0   86.0
Valentine     82.0  85   82.0  84.0   84.0
WorldChamps   90.0  96   91.0  88.0   88.0

In [69]:
df.groupby(by=['Set','Name']).min().head(20)

                   ACC  TCQ  MNT  SPC  DEF  FIN  OVERALL  PROB
Set        Name
Award      Kevin    93   92   93   96   89   97       96    10
           Maxi     95   94   98   89   95   95       97    10
           Sassi    90   88   86   84   86   87       88   125
           Simon    90   96   89   91   88   92       93    30
           Steffi   81   83   86   79   91   84       85   200
           Sven     96   93   90   89   92   92       94    25
BackInTime Bezold   87   82   84   85   76   87       85   225
           Chris    76   83   85   81   74   80       81   350
           Frank    83   80   98   90   98   85       90    90
           Hannes   78   76   83   85   80   71       79   400
           Lissi    88   84   94   83   85   82       87   175
           Opel     91   87   83   81   86   88       87   175
           Stahl    74   86   85   72   85   72       79   400
           Tobi     81   86   73   78   82   80       80   375
Base       Alex     78   78   78   78   78   78       78   600
           Andre    82   79   77   81   85   76       80   500
           Anny     84   87   84   91   83   86       87   225
           Bezold   84   78   80   83   70   83       81   450
           Bidi     78   75   79   80   82   77       78   600
           Chris    80   87   88   83   78   82       84   350

In [71]:
df.groupby(by=['Set']).describe()

               ACC                                                        TCQ  \
             count       mean       std   min    25%   50%    75%   max count
Set
Award          6.0  90.833333  5.419102  81.0  90.00  91.5  94.50  96.0   6.0
BackInTime     8.0  82.250000  6.088631  74.0  77.50  82.0  87.25  91.0   8.0
Base          36.0  80.972222  5.906346  67.0  78.00  81.0  84.25  93.0  36.0
Beer           9.0  86.222222  4.816061  78.0  83.00  85.0  91.00  92.0   9.0
Comic         18.0  82.666667  4.970501  74.0  78.25  82.5  86.75  92.0  18.0
Icon           8.0  91.500000  4.503967  86.0  88.50  90.5  94.50  99.0   8.0
OTW            8.0  82.875000  6.833479  69.0  80.50  84.5  86.25  92.0   8.0
Scream         6.0  81.500000  7.816649  73.0  76.25  81.0  83.50  95.0   6.0
Shapeshifter   6.0  82.500000  5.049752  73.0  81.75  84.5  85.00  87.0   6.0
Soccer        21.0  81.857143  6.769680  67.0  80.00  81.0  87.00  93.0  21.0
TagTeam        8.0  84.375000  5.153016  76.0  80.75  85.0  88.50  90.0   8.0
Valentine      8.0  82.000000  5.606119  75.0  78.25  81.0  86.50  90.0   8.0
WorldChamps    8.0  90.125000  3.313932  87.0  87.75  88.5  93.25  95.0   8.0

                         ... OVERALL         PROB                          \
                   mean  ...     75%    max count        mean         std
Set                      ...
Award         91.000000  ...   95.50   97.0   6.0   66.666667   78.336879
BackInTime    83.000000  ...   87.00   90.0   8.0  273.750000  121.647911
Base          81.555556  ...   85.00   93.0  36.0  439.861111  193.853723
Beer          88.000000  ...   90.00   93.0   9.0  185.555556  128.195272
Comic         83.666667  ...   88.50   95.0  18.0  247.500000  134.320184
Icon          90.750000  ...   94.00  100.0   8.0   75.375000   62.892056
OTW           85.125000  ...   87.25   94.0   8.0  241.250000  132.442710
Scream        82.666667  ...   84.75   88.0   6.0  258.333333   73.598007
Shapeshifter  84.333333  ...   85.50   87.0   6.0  266.666667   68.313005
Soccer        82.333333  ...   87.00   92.0  21.0  261.428571  124.319577
TagTeam       83.250000  ...   89.50   93.0   8.0  206.875000  129.199113
Valentine     81.875000  ...   85.25   86.0   8.0  281.250000   83.184391
WorldChamps   90.625000  ...   94.00   96.0   8.0   68.125000   55.222763


                min     25%    50%     75%    max
Set
Award          10.0   13.75   27.5  101.25  200.0
BackInTime     90.0  175.00  287.5  381.25  400.0
Base           50.0  300.00  450.0  600.00  750.0
Beer           40.0   95.00  115.0  325.00  350.0
Comic          20.0  126.25  287.5  368.75  400.0
Icon            5.0   28.25   70.0  105.00  175.0
OTW            30.0  168.75  212.5  375.00  400.0
Scream        125.0  237.50  287.5  300.00  325.0
Shapeshifter  175.0  218.75  275.0  312.50  350.0
Soccer         50.0  175.00  225.0  400.00  400.0
TagTeam        40.0   95.00  205.0  312.50  375.0
Valentine     200.0  218.75  262.5  325.00  400.0
WorldChamps    10.0   25.00   60.0   87.50  175.0

[13 rows x 64 columns]